<div class="widget tag">
<h3 class="title">友情链接</h3>
<ul class="entry">
<li>
    <a href="http://weibo.com/wkevin27" title="Kevin's Blog">Kevin's Blog</a>
</li>
<li>
    <a href="http://heavycoin.zhpool.com" title="frank's coin">Frank's coin</a>
</li>
</ul>
</div>
